page-detail {
    .center {
        margin-left: auto;
        margin-right: auto;
        margin-top:20px;
        display: block;
        width:50% !important;  
        height : 80% !important;  
    }
    #inner{
       text-align:center;
      margin-top:20px;
    }
    .ion-content
    {
        background-color: black;
    }
}
