
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      {{username}} 
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <div *ngFor="let data of messages">
      <ion-item *ngIf="username === data.username" style="border-right: solid 5px red;">
        <p class="chat-text" item-left>
          <strong> {{data.username}}: </strong>
          {{data.message}}
        </p>
        <p class="chat-time" item-right>
          {{data.date | date:'dd/MM/yyyy'}}
          </p>
      </ion-item>
      <ion-item *ngIf="username !== data.username" style="border-right: solid 5px green;">
        <p class="chat-text" item-left>
          <strong> {{data.username}}: </strong>
          {{data.message}}
        </p>
        <p class="chat-time" item-right>
          {{data.date | date:'dd/MM/yyyy'}}
          </p>
      </ion-item>
      </div>
  </ion-list>
</ion-content>

<ion-footer>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="chat" name="chatText" required placeholder="type here.."> </ion-input>
        </ion-col>
        <ion-col >
          <button style="float: right;" icon-only (click)="chatSend(f.value,f.valid)" ion-button  [disabled]="f.valid === false">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
         </ion-row>
    </ion-grid>
    </form>
</ion-footer>